$primary: #4628ff;
$warning: #ffd028;
$danger: #eb3f27;
$success: #75fa83;
$white: #fdfdfd;
$dark: #181717;

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .3s ease;

  &:hover {
    transform: translateY(-3px);
  }

  /* Button Colors and Styles */
  &--primary--solid {
    background-color: $primary;
    color: $white;
    border: none;
  }

  &--warning--solid {
    background-color: $warning;
    color: $dark;
    border: none;
  }

  &--danger--solid {
    background-color: $danger;
    color: $white;
    border: none;
  }

  &--success--solid {
    background-color: $success;
    color: $white;
    border: none;
  }

  &--primary--outline {
    background-color: transparent;
    color: $primary;
    border: 2px solid $primary;
  }

  &--warning--outline {
    background-color: transparent;
    color: $warning;
    border: 2px solid $warning;
  }

  &--danger--outline {
    background-color: transparent;
    color: $danger;
    border: 2px solid $danger;
  }

  &--success--outline {
    background-color: transparent;
    color: $success;
    border: 2px solid $success;
  }

  /* Button Sizes */
  &--medium {
    padding: 10px 20px;
    font-size: 18px;
  }

  &--large {
    padding: 15px 30px;
    font-size: 20px;
  }
}