@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* common styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    min-height: calc(100vh - 40px * 2);

    &--holder {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

/* styles */
.header,
.footer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #e5e5e5;

  a, button {
    font-size: 16px;
    margin-left: 20px;
    transition: all .5s;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;

    &:hover {
      opacity: .7;
    }
  }
}

.title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(192, 45, 26);
  color: #fff;
}

.login-form,
.registration-form {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: #e5e5e5;

  &--holder {
    margin-top: 200px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .radio-group {
      margin-bottom: 20px;
      
      button {
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  h1 {
    margin: 0;
  }

  input,
  & > div {
    width: 100%;
  }

  input,
  button {
    margin-top: 10px;
  }
}

/* ЛК */
.cabinet {
  /* ЛК КОМПАНИЯ */
  .company {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-top: 20px;
      transition: all .5s;

      &:hover {
        color: coral;
      }
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* warning */
.d-none {
  display: none;
}